<div class="upload-container">
  <div class="loading">
    <app-loading></app-loading>
  </div>
  <form [formGroup]="uploadForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="file">File</label>
      <input
        formControlName="file"
        id="file"
        type="file"
        multiple
        class="form-control"
        (change)="onFileChange($event)"
      />
      <div
        *ngIf="f['file'].touched && f['file'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['file'].errors && f['file'].errors['required']">
          File is required.
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
