<div class="upload-container">
  <div class="loading">
    <app-loading></app-loading>
  </div>

  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
    <ngx-dropzone-image-preview
      ngProjectAs="ngx-dropzone-preview"
      *ngFor="let file of fileList"
      [file]="file"
      [removable]="true"
      (removed)="onRemove(file)"
    >
      <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
    </ngx-dropzone-image-preview>
  </ngx-dropzone>
  <button (click)="submit()">Upload</button>
</div>
