<div class="upload-container">
  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>Drop files to upload!</ngx-dropzone-label>
    <ngx-dropzone-image-preview
      ngProjectAs="ngx-dropzone-preview"
      *ngFor="let file of fileList"
      [file]="file"
      [removable]="true"
      (removed)="onRemove(file)"
    >
      <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
    </ngx-dropzone-image-preview>
  </ngx-dropzone>
  <button class="submit-btn" [class.loading]="isLoading" (click)="submit()">
    <span class="btn-text">Upload</span>
  </button>
</div>
