.favorite-container {
  padding: 24px;

  .loading {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 10px);
  }

  .empty {
    color: #757575;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: calc(50% - 80px);
  }
}
