.home-container {
  padding: 24px;
  .search-input {
    margin: 16px auto;
    width: 75%;

    input {
      font-size: 20px;
      outline: none;
      border: 0;
      border-bottom: solid 1px #111;
      width: 100%;
    }
  }
  .loading {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 10px);
  }

  .loading-more {
    margin-top: 64px;
  }
}
