<div class="navigation-container">
  <div *ngIf="isShowBackBtn" class="back-btn" (click)="goBack()">
    <div class="back-icon">&laquo;</div>
    <div>Back</div>
  </div>
  <div class="nav">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      (click)="selectLink()"
      >Trending</a
    >
    <a
      routerLink="/favorites"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      (click)="selectLink()"
      >Favorites</a
    >
    <a
      routerLink="/upload"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      (click)="selectLink()"
      >Upload</a
    >
  </div>
  <div class="search-input">
    <input
      autoFocus
      type="text"
      placeholder="Searching for gifs!"
      [formControl]="searchControl"
    />
  </div>
</div>
